html
{
  font-family: sans-serif;
  color: #555
  }

.mono_textarea
{
  padding:15px;
  font-family: "Lucida Console", Monaco, monospace; font-size: 90%;
  border-radius: 10px;
  border: 2px solid #cccccc;
  }

em
{
  font-weight:bold;
  }

div
{
  margin: 20px auto; width: 100%;
  }

body{
  padding: 20px;
  }

td
{
  white-space: nowrap;
  text-align: center;
  vertical-align: bottom;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-style: italic;
  }

.proof{
  padding: 10px;
}

.title
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #5E5E5E;
  font-size: 17px;
  background-color: #FFFFFF;
  letter-spacing: 5.8pt;
  word-spacing: 3pt;
  line-height: 1.2;
  padding: 21px;
  }

.verbatim
{
  font-family:"Lucida Console", Monaco, monospace
  }

.model_evaluation_result{
  padding: 5px;
  font-family: "Lucida Console", Monaco, monospace;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#navcontainer ul li a:hover
{
color: #fff;
background-color: #369;
}
